<%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" %>
<%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js", defer: true %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Recipes App", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <% link_to "About Us", home_about_path, class:"nav-link"%>
        </li>


        
        <% if user_signed_in? %>

          <li class="nav-item">
          <%= link_to "My Recipes", recipes_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Add Recipe", new_recipe_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <% link_to "Meal Planner", meal_planner_index_path, class:"nav-link"%>
          </li>
          
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link", id:"sign-out-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
          <%= link_to "Search", search_path, class:"nav-link"%>
        </li>
      </ul>
      <%= form_with url: search_path, method: :get, class: "d-flex", role: "search" do %>
        <%= text_field_tag :q, nil, class: "form-control me-2", placeholder: "Search", aria: { label: "Search" } %>
        <%= submit_tag "Search", class: "btn btn-outline-success" %>
      <% end %>

        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link"%>
          </li>
        

      <% end %>
    </div>
  </div>
</nav>