<% content_for :title, "Recipes" %>

<%= link_to "Breakfasts", breakfasts_index_path, class:"breakfast-index-header" %>

<div class="recipes" style="background: #50C878; border-radius: 30px; margin: 40px; padding: 20px;">
<div class="scroller">
<ul class="tag-list-scroller scroller__inner">
<% @breakfasts.each do |breakfast| %>
    <li><%= render breakfast %></li>
<% end %>
</ul>
</div>
</div>
</br>
</br>

<%= link_to "Meals", meals_index_path, class:"meal-index-header" %>

<div class="recipes" style="background: #FFBF00; border-radius: 30px; margin: 40px; padding: 20px;">
<div class="scroller-reverse">
<ul class="tag-list-scroller scroller__inner-reverse">
<% @recipes.each do |meal| %>
    <li><%= render meal %></li>
<% end %>
</ul>
</div>
</div>
<br/>

<%= link_to "Desserts", desserts_index_path, class:"dessert-index-header" %>

<div class="recipes" style="background: #DE3163; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex;">
  <% @desserts.each do |dessert| %>
    <%= render dessert %>
  <% end %>
</div>
</div>
<br/>

<h2 class="snack-index-header" >Snacks</h2>

<div class="recipes" style="background: #6495ED; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex;">
  <% @snacks.each do |snack| %>
    <%= render snack %>
  <% end %>
</div>
</div>

<br/>

<%= link_to "Less Than 30 Mins", less_than30_mins_index_path, class:"quick-index-header" %>

<div class="recipes" style="background: #FA5F55; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex; flex-wrap: wrap;">
  <% @quick_foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>
</div>

<br/>

<%= link_to "Less Than 5 Ingredients", less_than5_ingredients_index_path, class:"easy-index-header" %>

<div class="recipes" style="background: #CF9FFF; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex; flex-wrap: wrap;">
  <% @easy_foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>
</div>

<%= link_to "New recipe", new_recipe_path, class:"btn btn-secondary" %>


